<div class='initialHeader'>
  <h1>Configurações de primeiro acesso</h1>
  <p>Complete seu registro para entrar</p>
</div>
<div class='initialOptions'>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [formControl]="name" required>
    <mat-error *ngIf="name.invalid">{{ getNameErrorMessage() }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nova senha</mat-label>
    <input matInput type="password" [formControl]="password" required [type]="hide ? 'password' : 'text'">

    <mat-icon class="btn-show-pass" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

    <mat-error *ngIf="password.value == userData.password || password.invalid || password.value.length < 6">
      {{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirmar nova senha</mat-label>
    <input matInput type="password" [formControl]="confirmPass" required [type]="hide ? 'password' : 'text'">

    <mat-icon class="btn-show-pass" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

    <mat-error *ngIf="password.value !== confirmPass.value || confirmPass.invalid || confirmPass.value.length < 6">
      {{getConfirmpasswordErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="closeDialog()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="submit()" *ngIf="!userData.resetPassword"
    [disabled]="confirmPass.invalid || password.invalid || email.invalid || name.invalid" type="submit">Salvar</button>
</mat-dialog-actions>
<style>
  .initialHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .initialOptions {
    display: grid;
  }
</style>