<h2>Criar novo silo</h2>
<mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Nome</mat-label>
    <input matInput [formControl]="silo" type="text" autocomplete="off" required>
    <mat-error *ngIf="silo.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
<mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Localização</mat-label>
    <input matInput [formControl]="local" type="text" autocomplete="off" required>
    <mat-error *ngIf="local.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
<mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Canal</mat-label>
    <input matInput [formControl]="freq" type="number" autocomplete="off" required>
    <mat-error *ngIf="freq.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
<mat-dialog-actions align="end">
    <button mat-raised-button color='warn' (click)='dialogRef.close()'>Cancelar</button>
    <button mat-raised-button color='primary' [disabled]="silo.invalid || freq.invalid || local.invalid"
        (click)='addSilo()'>Criar</button>
</mat-dialog-actions>