<h1 class='pageTitle'>
    Gráficos de Operação <mat-icon>area_chart</mat-icon>
</h1>
<div style="display: flex; flex-direction: column;">
    <div class='graphContainer'>
        <div class="graphOptions">
            <mat-form-field appearance="fill">
                <mat-label>Insira uma data</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker" required>
                    <input matStartDate formControlName="start" (dateChange)='timeChange("gte")'
                        placeholder="Data Inicial" required>
                    <input matEndDate formControlName="end" (dateChange)='timeChange("lte")' placeholder="Data Final"
                        required>
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Data inválida</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Data inválida</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Horário inicial</mat-label>
                <input type="time" matInput (change)='timeChange("gte")' [formControl]='timeValueGte' required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Horário final</mat-label>
                <input type="time" matInput (change)='timeChange("lte")' [formControl]='timeValueLte' required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Silo</mat-label>
                <mat-select [formControl]="siloName" required>
                    <mat-option *ngFor="let siloName of silosHabilitados" [value]="siloName">
                        {{siloName['silo']}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="graphOptions">
            <button mat-raised-button color="primary" (click)='getSiloData()'
                [disabled]='siloName.invalid || range.invalid || timeValueGte.invalid || timeValueLte.invalid'>
                Gerar Gráfico de Operação
            </button>
        </div>
    </div>
    <div *ngIf='graph' id="chartContainer">
        <div id='chartDiv1' class='chartContainer'></div>
        <!-- <div id='chartDivTime1' class='timeChartContainer'>
            <mat-icon class="access_timeIcon">access_time</mat-icon>
        </div> -->
        <div id='chartDiv2' class='chartContainer'></div>
        <!-- <div id='chartDivTime2' class='timeChartContainer'>
            <mat-icon class="access_timeIcon">access_time</mat-icon>
        </div> -->
        <div id='chartDiv3' class='chartContainer'></div>
        <!-- <div id='chartDivTime3' class='timeChartContainer'>
            <mat-icon class="access_timeIcon">access_time</mat-icon>
        </div> -->
    </div>
</div>
<style>
    .pageTitle {
        margin-left: 20px;
    }
    .timeChartContainer {
        margin: 10px 0;
    }

    .chartContainer {
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .graphContainer {
        display: flex;
        flex-direction: column;
    }

    #chartContainer {
        margin: 20px 20px;
    }

    .graphOptions {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 10px 0;
        align-content: center;
        justify-content: center;
        grid-gap: 20px;
    }

    .access_timeIcon {
        cursor: default;
        position: absolute;
        margin-left: 15px;
        color: #2aa08d;
    }

    .access_timeIcon:hover {
        transform: none;
    }

    .axis {
        display: none;
    }

    #chartDivTime3,
    #chartDivTime2,
    #chartDivTime1 {
        border-radius: 6px;
        border: solid 1.5px #2aa08d;
        background: linear-gradient(90deg, rgba(100, 100, 100, 0.12), rgba(200, 200, 200, 0.12), rgba(100, 100, 100, 0.12));
        display: flex;
        height: 40px;
        align-items: center;
    }
</style>