<h1 class='pageTitle'>
    Relatório {{dataType.value}} <mat-icon>content_paste</mat-icon>
</h1>
<div class="graphOptions">
    <mat-form-field appearance="fill">
        <mat-label>Insira uma data</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker" required>
            <input matStartDate formControlName="start" (dateChange)='timeChange("gte")' (dateChange)='clearData()'
                placeholder="Data Inicial" required>
            <input matEndDate formControlName="end" (dateChange)='timeChange("lte")' (dateChange)='clearData()'
                placeholder="Data Final" required>
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Data inválida</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Data inválida</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Horário inicial</mat-label>
        <input type="time" matInput (change)='timeChange("gte")' (change)='clearData()' [formControl]='timeValueGte'
            required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Horário final</mat-label>
        <input type="time" matInput (change)='timeChange("lte")' (change)='clearData()' [formControl]='timeValueLte'
            required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Silo</mat-label>
        <mat-select [formControl]="siloName" required>
            <mat-option *ngFor="let siloName of silosHabilitados" (click)='clearData()' [value]="siloName">
                {{siloName['silo']}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Tipo de dados</mat-label>
        <mat-select [formControl]="dataType" required>
            <mat-option *ngFor="let dataType of dataTypes" (click)='clearData()' [value]="dataType">
                {{dataType}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <mat-list class="checkboxes">
        <mat-list-item *ngFor='let item of checkboxes[dataType.value]' role="listitem">
            <mat-checkbox (click)='showCheckboxes()' (click)='clearData()' [(ngModel)]="item.enabled">{{item.name}}
            </mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-checkbox (click)='toggleAll()' (click)='clearData()' [(ngModel)]="checkAll">Alterar Todos
            </mat-checkbox>
        </mat-list-item>
    </mat-list>
</div>
<div class='download-buttons'>
    <button mat-raised-button color="primary" [disabled]="!range.valid" (click)='getData()'>
        Coletar Dados
    </button>
    <button mat-raised-button color="primary" [disabled]="datasource['Geral'].length == 0" (click)='saveCheckbox()'
        (click)='downloadPDF()'>
        Download PDF
    </button>
    <button mat-raised-button color="primary" [disabled]="!checkAll || datasource['Geral'].length == 0"
        (click)='saveCheckbox()' (click)='downloadCSV()'>
        Download CSV
    </button>
</div>
<style>
    .pageTitle {
        margin-left: 20px
    }
    .table-container {
        margin: 20px
    }

    .graphOptions,
    .download-buttons {
        display: flex;
        padding: 20px 20px 0 20px;
        grid-gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .download-buttons {
        padding-bottom: 20px;
    }

    .checkboxes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 20px;
        border: solid 1px #bbbbbb;
        border-radius: 35px;
        background: white;
        margin: 0 20px;
    }
</style>