<div class='cardDiv'>
    <div class="headerInfo">
        <div>
            <h1 class='pageTitle'>Configurações <mat-icon>settings</mat-icon>
            </h1>
            <div *ngIf='silos.length > 0' style="display: flex; align-items: center; grid-gap: 10px;">
                <p *ngIf='localizationEditor == false'>
                    Localização Geral: {{localization.value != '' ? localization.value : 'Localização
                    Geral'}}
                </p>
                <div *ngIf='localizationEditor == true' style="display: flex; grid-gap: 10px;">
                    <mat-form-field appearance="fill" style="width: 200px; margin-left: 20px;">
                        <mat-label>Inserir Localização</mat-label>
                        <input type="text" matInput [formControl]="localization" required>
                    </mat-form-field>
                    <button mat-icon-button color="accent" [disabled]='!localization.valid'
                        (click)='saveLocalization()'>
                        <mat-icon matTooltip='Salvar' style="margin-top: 0.7em; pointer-events: none;">save</mat-icon>
                    </button>
                </div>
                <button mat-icon-button color="accent" (click)='changeLocalization()' style="margin-bottom: 1.2rem;">
                    <mat-icon matTooltip='Editar'>edit</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf='silos.length > 0' style="display: flex; flex-direction: column; align-items: center;">
            <mat-slide-toggle (click)='toggleCollect()' [formControl]="collect">Coleta de dados
            </mat-slide-toggle>
            <mat-checkbox [(ngModel)]="autoCollect">Iniciar coleta automaticamente</mat-checkbox>
        </div>
    </div>
    <mat-card *ngIf='silos.length > 0' class='card'>
        <li *ngFor='let silo of silos' class='itemDiv'>
            <div class='siloInfos'>
                <div class="info">
                    Nome: {{silo.silo}} <mat-icon [class]='silo.conn'>rss_feed</mat-icon>
                </div>
                <div>
                    Última coleta: {{silo.time}}
                </div>
                <div>
                    Tamanho: {{silo.tamanho}}
                </div>
                <div>
                    Pêndulos: {{silo.qtd_pen}}
                </div>
                <div>
                    Canal: {{silo.freq}}
                </div>
                <div>
                    Localização: {{silo.local}}
                </div>
            </div>
            <div class='buttonsDiv'>
                <button mat-raised-button color="primary" (click)='editSilo(silo)' [disabled]='collect.value'>
                    Editar
                </button>
                <button mat-raised-button color="warn" (click)='deleteSilo(silo.silo)' [disabled]='collect.value'>
                    Excluir
                </button>
            </div>
        </li>
    </mat-card>
    <div class='addSiloDiv'>
        <button mat-icon-button (click)='addSilo()' color='primary' class='addSiloButton' matTooltip='Adicionar Silo'
            [disabled]='collect.value && silos.length > 0'>
            <mat-icon>
                add_box
            </mat-icon>
        </button>
    </div>
</div>
<style>
    .connOn {
        color: green;
        pointer-events: none;
    }

    .connOff {
        color: red;
        pointer-events: none;
    }

    .info {
        display: flex;
        align-items: center;
        grid-gap: 20px;
    }

    .headerInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
    }

    .addSiloButton {
        transform: scale(2);
    }

    .addSiloDiv {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .siloInfos {
        display: grid;
        grid-gap: 10px;
        margin-bottom: 10px;
    }

    .buttonsDiv {
        display: grid;
        justify-self: right;
        padding: 20px;
        grid-gap: 20px;
    }

    .itemDiv {
        display: grid;
        border-bottom: solid 2px rgba(150, 150, 150, .8);
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10px;
    }

    .itemDiv:last-child {
        border: transparent;
    }

    .pageTitle {
        margin-left: 20px;
    }

    .cardDiv {
        margin: 0;
        max-height: calc(100% - 55px);
        display: flex;
        flex-direction: column;
    }

    .card {
        margin: 0 20px;
        overflow-y: auto;
        border-top: solid 10px transparent;
        border-bottom: solid 10px transparent;
    }
</style>