<div style="overflow-y: auto; height: calc(100% - 55px);">
    <div class="homePage">
        <div *ngFor='let silo of configs' class="homeContainer">
            <div class="homeTitle">{{silo['silo']}} - {{silo['qtd_pen']}} Pêndulo{{silo['qtd_pen'] > 1 ? 's' : null}} -
                {{silo['local']}}
            </div>
            <div class="imgContainer">
                <img class='siloImg' src="assets/imgs/silo_desenho.png" alt="silo">
            </div>
            <div class="homeConfigsContainer">
                <div class="homeConfigs">
                    <div>
                        Maior temperatura atual
                    </div>
                    <div class="homeConfigData">
                        {{silo['max_temp']}}°C
                    </div>
                </div>
                <div class="homeConfigs">
                    <div>
                        Temperatura ambiente
                    </div>
                    <div class="homeConfigData">
                        {{silo['temp_ambiente']}}°C
                    </div>
                </div>
                <div class="homeConfigs">
                    <div>
                        Umidade ambiente
                    </div>
                    <div class="homeConfigData">
                        {{silo['umidade']}}%
                    </div>
                </div>
                <div class="homeConfigs">
                    <div>
                        Umidade intergranular
                    </div>
                    <div class="homeConfigData">
                        {{silo['med_umidade']}}%
                    </div>
                </div>
                <div class="homeConfigs">
                    <div>
                        Produto selecionado
                    </div>
                    <div class="homeConfigData">
                        {{silo['produto']}}
                    </div>
                </div>
                <div class="homeConfigs">
                    <div>
                        Modo operacional
                    </div>
                    <div class="homeConfigData">
                        {{silo['mode']}}
                    </div>
                </div>
                <div class="homeConfigs">
                    <div>
                        Tipo de controle
                    </div>
                    <div class="homeConfigData">
                        {{silo['flag_tipo_controle']}}
                    </div>
                </div>
                <div class="homeConfigs">
                    <div>
                        Tensão de bateria
                    </div>
                    <div class="homeConfigData">
                        {{silo['tensao_bat'] + 'V' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .homeConfigData {
        display: flex;
        justify-content: center;
    }

    .homeConfigs {
        display: grid;
        grid-template-columns: 80% 20%;
        align-content: center;
        padding-left: 20px;
        border-bottom: solid 1px #c5c7c7;
    }

    .homeConfigs:last-child {
        border-bottom: none;
    }

    .homeConfigsContainer {
        display: grid;
        border-left: solid 1px #c5c7c7;
    }

    .imgContainer {
        height: 90%;
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .siloImg {
        height: 100%;
        max-height: 350px;
    }

    .homeTitle {
        grid-column: span 2;
        display: flex;
        align-items: center;
        padding-left: 40px;
        color: white;
        background: #26a16f;
        font-size: 18px;
        text-transform: uppercase;
        border-bottom: solid 1px #c5c7c7;
    }

    .homePage {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 20px;
        margin: 40px 0;
    }

    .homeContainer {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 15% 85%;
        width: calc(100% - 80px);
        justify-content: center;
        background: white;
        border-radius: 35px;
        overflow: hidden;
        border: solid 1px #c5c7c7;
    }
</style>