<h1 class='pageTitle'>
    Gráficos de Temperatura <mat-icon>thermostat</mat-icon>
</h1>
<div class='graphContainer'>
    <div class="graphOptions">
        <mat-form-field appearance="fill">
            <mat-label>Insira uma data</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker" required>
                <input matStartDate formControlName="start" (dateChange)='timeChange("gte")' placeholder="Data Inicial"
                    required>
                <input matEndDate formControlName="end" (dateChange)='timeChange("lte")' placeholder="Data Final"
                    required>
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Data inválida</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Data inválida</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Horário inicial</mat-label>
            <input type="time" matInput (change)='timeChange("gte")' [formControl]='timeValueGte' required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Horário final</mat-label>
            <input type="time" matInput (change)='timeChange("lte")' [formControl]='timeValueLte' required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Silo</mat-label>
            <mat-select [formControl]="siloName" required>
                <mat-option *ngFor="let siloName of silosHabilitados" [value]="siloName">
                    {{siloName['silo']}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-icon-button color="accent"
            [disabled]='!siloName.valid || !range.valid || !timeValueGte.valid || !timeValueLte.valid'
            (click)='getSiloData()' matTooltip='Pesquisar' style="margin-bottom: 0.7em;">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="graphOptions">
        <mat-form-field *ngIf='pendulos.length > 0' appearance="fill">
            <mat-label>Pendulos</mat-label>
            <mat-select [formControl]="pendulo" required>
                <mat-option *ngFor="let pendulo of pendulos" [value]="pendulo" (click)='filterPendulo()' checked>
                    {{pendulo.replace('_', ' ')}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf='sensores.length > 0' appearance="fill">
            <mat-label>Sensores</mat-label>
            <mat-select [formControl]="sensor" multiple required>
                <mat-select-trigger>
                    {{sensor.value ?
                    sensor.value[0] :
                    ''}}
                    <span *ngIf="sensor.value?.length > 1">
                        (+{{sensor.value.length - 1}}
                        {{sensor.value?.length ===
                        2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>
                <mat-option *ngFor="let sensor of sensores" [value]="sensor">
                    {{sensor.replace('_', ' ')}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)='send()' [disabled]='sensores.length == 0'>
            Gerar Gráfico de Temperatura
        </button>
    </div>
</div>
<div *ngIf='graph' id="chartContainer">
    <div id='charDiv1'></div>
    <div id='charDiv2'>
        <mat-icon class="access_timeIcon">access_time</mat-icon>
    </div>
</div>
<style>
    .pageTitle {
        margin-left: 20px;
    }
    .graphContainer {
        display: flex;
        flex-direction: column;
    }

    #chartContainer {
        margin: 0 20px;
    }

    .graphOptions {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 10px 0;
        align-content: center;
        justify-content: center;
        grid-gap: 20px;
    }

    .access_timeIcon {
        cursor: default;
        position: absolute;
        margin-left: 15px;
        color: #2aa08d;
    }

    .access_timeIcon:hover {
        transform: none;
    }

    .axis {
        display: none;
    }

    #charDiv2 {
        border-radius: 6px;
        border: solid 1.5px #2aa08d;
        background: linear-gradient(90deg, rgba(100, 100, 100, 0.12), rgba(200, 200, 200, 0.12), rgba(100, 100, 100, 0.12));
    }

    #charDiv2 {
        display: flex;
        height: 40px;
        align-items: center;
    }
</style>