<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #sidenav class="sidenav" mode="over" autoFocus='false'>
    <div>
      <img src="../../assets/imgs/kairos.png" alt="" width="200px" height="100px">
    </div>
    <div class="container-routes">
      <button mat-button *ngFor='let feat of features' class="sidenav-route" (click)='goTo(feat["route"])'
        [id]='feat["route"]'>
        <mat-icon *ngIf='feat["icon"] == "silo"' class="sidenav-icon silo-icon" [svgIcon]="feat['icon']"></mat-icon>
        <mat-icon *ngIf='feat["icon"] != "silo"' class="sidenav-icon">{{feat['icon']}}</mat-icon>
        {{feat['name']}}
      </button>
    </div>
  </mat-drawer>
  <mat-toolbar class='toolBar'>
    <div>
      <button (click)='openSideMenu()' matTooltip='Menu'>
        <img src="../../assets/imgs/kairos.png" alt="kairos" width="100px" height="50px">
      </button>
    </div>
    <div style="cursor: default;">{{localization}}</div>
    <div id='homeButton' class='homeButton'>
      <button mat-icon-button (click)="goTo('ks')" class="icons-space kairos-icon-color">
        <mat-icon matTooltip='Página Inicial'>home</mat-icon>
      </button>
    </div>
    <div class='optionsButtons'>
      <button *ngIf='role == "admin"' mat-icon-button (click)="goToHeaders('ks/backup/settings')"
        class="icons-space kairos-icon-color">
        <mat-icon matTooltip='Backup/Restore'>settings_backup_restore</mat-icon>
      </button>
      <button *ngIf='role == "admin"' mat-icon-button (click)="goToHeaders('ks/alarms')"
        class="icons-space kairos-icon-color">
        <mat-icon matTooltip='Notificações via Email'>edit_notifications</mat-icon>
      </button>
      <button *ngIf='role == "admin"' mat-icon-button (click)="goToHeaders('ks/users')"
        class="icons-space kairos-icon-color">
        <mat-icon matTooltip='Usuários'>people_alt</mat-icon>
      </button>
      <button *ngIf='role == "admin"' mat-icon-button (click)="goToHeaders('ks/settings')"
        class="icons-space kairos-icon-color">
        <mat-icon matTooltip='Configurações'>settings</mat-icon>
      </button>
      {{userName}}<mat-icon [matTooltip]='roleTooltip[role]' class='icons-space kairos-icon-color'>
        {{roleIcons[role]}}</mat-icon>
      <button mat-icon-button (click)="logout()" class="icons-space kairos-icon-color">
        <mat-icon matTooltip='Deslogar'>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-drawer-container>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>
<ng-template #customLoadingTemplate>
  <div class="custom-class" style="position: absolute; top:0; left:0; width: 100%; height: 100%;">
  </div>
</ng-template>

<style>
  .sidenav-icon {
    margin-right: 10px;
  }

  .sidenav-icon:hover {
    color: white;
    transform: scale(1);
  }

  .container-routes {
    display: grid;
  }

  .sidenav-route {
    height: 40px;
    margin: 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 1px;
    transition: background-color .3s, border-radius .3s;
    border-radius: 0;
  }

  .selected {
    background: #1d8058;
    color: white;
    margin-right: 0;
  }

  .selected .silo-icon {
    filter: invert(99%) sepia(1%) saturate(286%) hue-rotate(73deg) brightness(116%) contrast(100%)
  }

  .sidenav-route:focus {
    background: transparent;
  }

  .sidenav-route:hover {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: #26a16f;
    color: white;
  }

  .sidenav-route:hover .silo-icon {
    filter: invert(99%) sepia(1%) saturate(286%) hue-rotate(73deg) brightness(116%) contrast(100%)
  }

  .sidenav-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #E5E5E5;
  }

  .optionsButtons {
    display: flex;
    align-items: center;
    justify-self: right;
    grid-gap: 20px;
    grid-column: 5;
  }

  .homeButton {
    display: flex;
    justify-content: center;
    grid-column: 3;
  }

  .toolBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 55px;
  }
</style>