<h2>Criar novo usuário</h2>
<mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Nome</mat-label>
    <input matInput [formControl]="name" type="text" autocomplete="off" required>
    <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
<mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Email</mat-label>
    <input placeholder="user@kairos.com.br" matInput [formControl]="email" type="email" autocomplete="off" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
<mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Permissão</mat-label>
    <mat-select [formControl]="role" required>
        <mat-option *ngFor="let role of roles" [value]="role">
            {{role}}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="role.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
<mat-dialog-actions align="end">
    <button mat-raised-button color='warn' (click)='dialogRef.close()'>Cancelar</button>
    <button mat-raised-button color='primary' [disabled]="email.invalid || name.invalid || role.invalid"
        (click)='addUser()'>Criar</button>
</mat-dialog-actions>