<div class="main-container">
  <div class="form-container">
    <div>
      <img src="assets/imgs/kairos.png" alt="Kairos Logo" height="200px" width="400px">
    </div>
    <form class='login-form'>
      <div class="login-internal-form">
        <div class='login-title'>
          <h1>Bem vindo</h1>
          <small>Faça login para acessar sua conta </small>
        </div>
        <mat-form-field appearance="fill" style="width: 50%;">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="email" type="email" autocomplete="off" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 50%;">
          <mat-label>Senha</mat-label>
          <input matInput [formControl]="password" autocomplete="off" [type]="hide ? 'password' : 'text'" required>

          <mat-icon class="btn-show-pass" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">{{hide ? 'visibility_off' :
            'visibility'}}</mat-icon>
          <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
        <button type="submit" style="width: 100px;" [disabled]="password.invalid || email.invalid" mat-raised-button
          color="primary" (click)="submit()">LOGIN</button>
      </div>
    </form>
  </div>
  <div class='img-silo'>
    <img src="assets/imgs/silos.jpg" alt="Silos" height="100%" style="opacity: .8;">
  </div>
</div>
<style>
  .img-silo {
    overflow: hidden;
    background: black;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
  }

  .form-container {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .login-form {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #898e8c, transparent);
  }

  .login-internal-form {
    display: grid;
    justify-items: center;
    grid-gap: 10px;
  }

  .login-title {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
</style>