<h2>
    Todos os alertas de {{data['silo']}}:
</h2>
<div *ngFor='let alarm of alarms' class="alarmsContainer">
    <mat-icon style='pointer-events: none; color: red' *ngIf="alarm['alarming']">
        error_outline
    </mat-icon>
    <mat-icon style='pointer-events: none; color: green' *ngIf="!alarm['alarming']">
        task_alt
    </mat-icon>
    <div>
        {{alarm['name']}}
    </div>
</div>
<style>
    .alarmsContainer {
        display: flex;
        grid-gap: 10px;
    }
</style>