<div class='cardDiv'>
    <div class="headerInfo">
        <h1 class='pageTitle'>Backup/Restore <mat-icon>settings_backup_restore</mat-icon>
        </h1>
        <div class='actionButtons'>
            <button mat-icon-button color="accent" matTooltip='Coletar dados da USB' (click)='flashRestore()'>
                <mat-icon>usb</mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip='Realizar Backup' (click)='doBackup()'>
                <mat-icon>backup</mat-icon>
            </button>
        </div>
    </div>
    <p *ngIf='backupList.length == 0' style="align-self: center;">Nenhum backup disponível</p>
    <mat-card *ngIf='backupList.length > 0' class='card'>
        <li *ngFor='let backup of backupList' class='itemDiv'>
            <div class='infos'>
                <div class="info">
                    Data de Criação: {{backup}}
                </div>
            </div>
            <div class='buttonsDiv'>
                <button mat-raised-button color="primary" (click)='doRestore(backup)'>
                    Restaurar
                </button>
                <button mat-raised-button color="warn" (click)='delete(backup)'>
                    Excluir
                </button>
            </div>
        </li>
    </mat-card>
</div>
<style>
    .buttonsDiv {
        display: grid;
        justify-self: right;
        padding: 20px;
        grid-gap: 20px;
    }

    .infos {
        display: grid;
        grid-gap: 10px;
        margin-bottom: 10px;
    }

    .headerInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
    }

    .cardDiv {
        margin: 0 0 20px 0;
        max-height: calc(100% - 155px);
        display: flex;
        flex-direction: column;
    }

    .card {
        margin: 0 20px;
        overflow-y: auto;
        border-top: solid 10px transparent;
        border-bottom: solid 10px transparent;
    }

    .itemDiv {
        display: grid;
        border-bottom: solid 2px rgba(150, 150, 150, .8);
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10px;
    }

    .itemDiv:last-child {
        border: transparent;
    }
</style>