<h1 class='pageTitle'>Usuários <mat-icon>people_alt</mat-icon>
</h1>
<div class='cardDiv'>
    <mat-card class='card'>
        <li *ngFor='let user of users' class='itemDiv'>
            <div class='userInfos'>
                <div>
                    Data de criação: {{user.time}}
                </div>
                <div>
                    Nome: {{user.name}}
                </div>
                <div>
                    Email: {{user.email}}
                </div>
                <div>
                    Permissão: {{user.role}}
                </div>
            </div>
            <div class='buttonsDiv'>
                <button mat-raised-button color="primary" (click)='editUser(user)'>
                    Editar
                </button>
                <button mat-raised-button color="warn" (click)='deleteUser(user.id)'
                    [disabled]='user.email == "admin@kairos.com.br"'>
                    Excluir
                </button>
            </div>
        </li>
    </mat-card>
    <div class='addUserDiv'>
        <button (click)='addUser()' class='addUserButton icons-space kairos-icon-color' matTooltip='Adicionar Usuário'>
            <mat-icon>
                add_box
            </mat-icon>
        </button>
    </div>
</div>
<style>
    .addUserButton {
        transform: scale(2);
    }

    .addUserDiv {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .userInfos {
        display: grid;
        grid-gap: 10px;
        margin-bottom: 10px;
    }

    .buttonsDiv {
        display: grid;
        justify-self: right;
        padding: 20px;
        grid-gap: 20px;
    }

    .itemDiv {
        display: grid;
        border-bottom: solid 2px rgba(150, 150, 150, .8);
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10px;
    }

    .itemDiv:last-child {
        border: transparent;
    }

    .pageTitle {
        margin-left: 20px;
    }

    .cardDiv {
        margin: 0;
        max-height: calc(100% - 55px);
        display: flex;
        flex-direction: column;
    }

    .card {
        margin: 0 20px;
        overflow-y: auto;
        border-top: solid 10px transparent;
        border-bottom: solid 10px transparent;
    }
</style>