@import './theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

text {
  font: 18px sans-serif;
  background-color: #FFFFFF;
  fill: black;
  pointer-events: none;
}

button {
  outline: none !important;
  border: transparent;
  background: transparent;
  cursor: pointer;
  display: flex;
}

.mat-icon {
  transition: all .2s;
}
.mat-icon:hover {
  opacity: .9;
}
h1, h2 {
  font-weight: 400;
  padding: 20px 0;
  margin: 0;
}

.mat-toolbar {
  background: white;
}

.siloTableFilter {
  padding-top: 0.8em !important;
}

.mat-list-item-content {
  grid-gap: 10px;
}

/* GENERAL CHARTS */

div.dc-chart {
	width: 100%;
  float: left;
  overflow: hidden;
}
  
.dc-chart .deselected path {
  stroke: none;
  fill-opacity: .5;
  fill: #ccc;
}

.dc-chart .axis path,
.dc-chart .axis line {
color: #CCCCCC !important;
  fill: none;
  shape-rendering: crispEdges;
}

.dc-chart .axis text {
  font: 10px sans-serif;
}


.dc-chart .grid-line line {
  fill: none;
  stroke: #ccc;
  opacity: .5;
  shape-rendering: crispEdges;
}

.dc-chart .brush .resize path {
  fill: #eee;
  stroke: #666;
}

.dc-chart path.line {
  fill: none;
  stroke-width: 1.5px;
}

.dc-chart circle.dot {
/* stroke: red; */
  stroke-width: 2px;
  fill: white;
}

.dc-chart g.dc-tooltip path {
  fill: none;
  stroke: grey;
  stroke-opacity: .8;
}

.dc-chart path.area {
  fill-opacity: .3;
  stroke: none;
}

.dc-chart .node {
  font-size: 0.7em;
  cursor: pointer;
}

.dc-chart .node :hover {
  fill-opacity: .8;
}

.dc-chart .selected circle {
  stroke-width: 3;
  stroke: #ccc;
  fill-opacity: 1;
}

.dc-chart .deselected circle {
  stroke: none;
  fill-opacity: .5;
  fill: #ccc;
}

.dc-chart .bubble {
  stroke: none;
  fill-opacity: 0.6;
}

.dc-data-count {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

.dc-data-count .filter-count {
  color: #3182bd;
  font-weight: bold;
}

.dc-data-count .total-count {
  color: #3182bd;
  font-weight: bold;
}

.dc-chart g.state {
  cursor: pointer;
}

.dc-chart g.state :hover {
  fill-opacity: .8;
}

.dc-chart g.state path {
  stroke: white;
}


.dc-chart g.deselected path {
  fill: grey;
}

.dc-chart g.deselected text {
  display: none;
}

.dc-chart g.county path {
  stroke: white;
  fill: none;
}

.dc-chart g.debug rect {
  fill: blue;
  fill-opacity: .2;
}
  
.dc-chart g.row rect:hover {
  fill-opacity: 0.6;
}

.dc-chart g.row text {
  cursor: pointer;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
}

.dc-legend {
  font-size: 11px;
}

.dc-legend-item {
  cursor: pointer;
}

.dc-chart g.axis text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.dc-chart path.highlight {
  stroke-width: 3;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.dc-chart .highlight {
  fill-opacity: 1;
  stroke-opacity: 1;
}

.dc-chart .fadeout {
  fill-opacity: 0.2;
  stroke-opacity: 0.2;
}

.dc-chart path.dc-symbol,
g.dc-legend-item.fadeout {
  fill-opacity: 0.5;
  stroke-opacity: 0.5;
}

.dc-hard .number-display {
  float: none;
}

.dc-chart .box text {
  font: 14px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.dc-chart .box line,
.dc-chart .box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.dc-chart .box rect {
  stroke: #000;
  stroke-width: 1.5px;
}

.dc-chart .box .center {
  stroke-dasharray: 3,3;
}

.dc-chart .box .outlier {
  fill: none;
  stroke: #ccc;
}

.dc-chart .box.deselected .box {
  fill: #ccc;
}

.dc-chart .box.deselected {
  opacity: .5;
}

.dc-chart .symbol{
  stroke: none;
}

.dc-chart .heatmap .box-group.deselected rect {
  stroke: none;
  fill-opacity: .5;
  fill: #ccc;
}

.dc-chart .heatmap g.axis text {
  pointer-events: all;
  cursor: pointer;
}