@import "../node_modules/@angular/material/theming";
@include mat-core();

$kairos-light-primary: (
    500 : #26a16f,
    contrast: (
        A200 : #000000,
        A400 : #000000,
    )
);

$kairos-light-secondary: (
    500 : #26a16f,
    contrast: (
        A400 : #000000,
    )
);

$kairos-light-red: (
    500 : #df4141,
    contrast: (
        A400 : #000000,
    )
);

$kairos-dark-primary: (

    A200 : #25e9ff,
    contrast: (
        500 : #ffffff,
    )
);

$kairos-dark-secondary: (
    A400 : #D2D904,
    contrast: (
        500 : #ffffff,
    )
);

$kairos-dark-red: (
    500 : #ff4747,
    contrast: (
        A400 : #000000,
    )
);



// Light theme
$kairos-app-light-primary: mat-palette($kairos-light-primary, 500);
$kairos-app-light-accent:  mat-palette($kairos-light-secondary, 500, A400);
$kairos-app-light-warn:    mat-palette($kairos-light-red, 500);


$kairos-app-light-theme: mat-light-theme((
  color: (
    primary: $kairos-app-light-primary,
    accent: $kairos-app-light-accent,
    warn: $kairos-app-light-warn
  )
));

@include angular-material-theme($kairos-app-light-theme);
// @include component-themes($kairos-app-light-theme);
.kairos-icon-color {
  color: mat-color($kairos-app-light-accent)!important;
}

// Dark theme
$kairos-app-dark-primary: mat-palette($kairos-dark-primary, A200);
$kairos-app-dark-accent:  mat-palette($kairos-dark-secondary, A400, 500);
$kairos-app-dark-warn:    mat-palette($kairos-dark-red, 500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$kairos-app-dark-theme: mat-dark-theme((
  color: (
    primary: $kairos-app-dark-primary,
    accent: $kairos-app-dark-accent,
    warn: $kairos-app-dark-warn
  )
));

.kairos-dark-theme {
  @include angular-material-color($kairos-app-dark-theme);
}


