<h1 class='pageTitle'>
    Notificações via Email<mat-icon>edit_notifications</mat-icon>
</h1>
<div class='cardDiv'>
    <mat-card class='card'>
        <div class='flagsContainer' [formGroup]="enabledFlags">
            Selecionar flags ativas:
            <div class='groupAlarmsContainer'>
                <div class='groupAlarms'>
                    <h2>Alarmes:</h2>
                    <mat-checkbox *ngFor='let flag of alarmObject' [formControlName]="flag.id">{{flag.name}}
                    </mat-checkbox>
                </div>
                <div class='groupAlarms'>
                    <h2>Avisos:</h2>
                    <mat-checkbox *ngFor='let flag of warningObject' [formControlName]="flag.id">{{flag.name}}
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class='emailContainer'>
            <div class="buttonsContainer">
                <mat-form-field appearance="fill" style="width: 300px">
                    <mat-label>Repetir email em (minutos):</mat-label>
                    <input matInput min=1 [formControl]="verify_time" type="number" autocomplete="off" required>
                    <mat-error *ngIf="verify_time.invalid">valor mínimo 1</mat-error>
                </mat-form-field>
                <div style='display: flex; align-items: center;'>
                    <mat-form-field appearance="fill" style="width: 300px">
                        <mat-label>Cadastrar email</mat-label>
                        <input placeholder="user@kairos.com.br" matInput [formControl]="email" type="email"
                            autocomplete="off" required (keyup.enter)='addEmail()'>
                        <mat-error *ngIf="email.invalid">email inválido</mat-error>
                    </mat-form-field>
                    <button mat-icon-button [disabled]="email.invalid" (click)='addEmail()' color='primary'
                        style="margin-bottom: 0.7rem;">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <!-- <button mat-raised-button color='warn' (click)='clearAlarms()' style="margin-bottom: 0.7rem;">Resetar
                    Alarmes</button> -->
                <button mat-raised-button color='primary' [disabled]="verify_time.invalid" (click)='save()'
                    style="margin-bottom: 0.7rem;">Salvar</button>
            </div>
            <p *ngIf='emails.length > 0'>Emails cadastrados:</p>
            <div *ngIf='emails.length > 0'>
                <mat-list class='email-list' role="list">
                    <mat-list-item class='email-item' *ngFor='let email of emails' role="listitem">
                        {{email}}<mat-icon matTooltip='Remover email' class='email-remove' (click)='removeEmail(email)'>
                            highlight_off</mat-icon>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </mat-card>
</div>

<style>
    .email-list {
        display: flex;
        float: left;
    }

    .buttonsContainer {
        display: flex;
        grid-gap: 20px;
        align-items: center;
    }

    .pageTitle {
        margin-left: 20px;
    }

    .flagsContainer {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
    }

    .cardDiv {
        margin: 0 0 20px 0;
        display: flex;
        flex-direction: column;
    }

    .card {
        margin: 0 20px;
        overflow-y: auto;
        border-top: solid 10px transparent;
        border-bottom: solid 10px transparent;
    }

    .groupAlarmsContainer {
        display: flex;
        grid-gap: 20px;
        justify-content: space-evenly;
        padding-bottom: 20px;
    }

    .groupAlarms {
        display: flex;
        flex-direction: column;
        text-align: left;
        grid-gap: 10px;
    }

    .email-remove {
        opacity: 0;
        color: red;
        cursor: pointer;
    }

    .email-item:hover .email-remove {
        opacity: 1;
    }

    .email-item {
        cursor: default;
    }
</style>