<div class="mainSiloContainer">
    <div *ngIf='siloConfig' class='silosInfoContainer'>
        <div class="generalInfo">
            <div class="headerImg">
                <img src="assets/imgs/temp1.png" height="100px">
            </div>
            <div class='headerInfo'>
                <div>Maior Temperatura</div>
                <b>{{siloConfig['max_temp']}}°C</b>
            </div>
            <div class="headerImg">
                <img src="assets/imgs/temp2.png" height="100px">
            </div>
            <div class='headerInfo'>
                <div>Temperatura Ambiente</div>
                <b>{{siloConfig['temp_ambiente']}}°C</b>
            </div>
            <div class="headerImg">
                <img src="assets/imgs/hum.png" height="100px">
            </div>
            <div class='headerInfo'>
                <div>Umidade Ambiente</div>
                <b>{{siloConfig['umidade']}}%</b>
            </div>
            <div class="headerImg">
                <img [src]="weather" height="100px">
            </div>
            <div class='headerInfo'>
                <div style="display: flex; align-items: center; grid-gap: 10px;">Última Coleta
                    <mat-icon matTooltip='Silo offline' style='cursor: default; color: red' *ngIf="coletaOut">
                        error_outline
                    </mat-icon>
                    <mat-icon matTooltip='Silo online' style='cursor: default; color: green' *ngIf="!coletaOut">
                        task_alt
                    </mat-icon>
                </div>
                <b>{{siloConfig['time']}}</b>
            </div>
        </div>
        <div class="parametrosContainer">
            <div class="homeContainer">
                <li class="homeTitle">Parâmetros de Operação
                </li>
                <div class="homeConfigsContainer">
                    <div class="homeConfigs">
                        <div>
                            Produto selecionado
                        </div>
                        <div class="homeConfigData">
                            {{siloConfig['produto']}}
                        </div>
                    </div>
                    <div class="homeConfigs">
                        <div>
                            Modo operacional
                        </div>
                        <div class="homeConfigData">
                            {{siloConfig['mode']}}
                        </div>
                    </div>
                    <div class="homeConfigs">
                        <div>
                            Tipo de controle
                        </div>
                        <div class="homeConfigData">
                            {{siloConfig['flag_tipo_controle']}}
                        </div>
                    </div>
                    <div class="homeConfigs">
                        <div>
                            Temperatura de desligamento
                        </div>
                        <div class="homeConfigData">
                            {{siloConfig['max_temp_motor']}}°C
                        </div>
                    </div>
                    <div class="homeConfigs">
                        <div>
                            Umidade máx. ajustada
                        </div>
                        <div class="homeConfigData">
                            {{siloConfig['max_umi']}}%
                        </div>
                    </div>
                    <div class="homeConfigs">
                        <div>
                            Temperatura de alarme
                        </div>
                        <div class="homeConfigData">
                            {{siloConfig['alarm_max_temp']}}°C
                        </div>
                    </div>
                    <div class="homeConfigs">
                        <div>
                            Sensor de chuva
                        </div>
                        <div class="homeConfigData">
                            {{siloConfig['flag_sensor_chuva']}}
                        </div>
                    </div>
                    <div class="homeConfigs">
                        <div>
                            Umidade intergranular
                        </div>
                        <div class="homeConfigData">
                            {{siloConfig['med_umidade']}}%
                        </div>
                    </div>
                    <div class="homeConfigs">
                        <div>
                            Potência aplicada motor
                        </div>
                        <div class="homeConfigData">
                            {{siloConfig['potencia_motor']}}%
                        </div>
                    </div>
                    <div class="homeConfigs">
                        <div>
                            Aeração
                        </div>
                        <div class="homeConfigData">
                            {{siloConfig['flag_motor_ligado']}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="homeContainer">
                <li class="homeTitle">Parâmetros de Operação
                </li>
                <div class="homeConfigsContainer">
                    
                </div>
            </div> -->
            <div class="homeContainer">
                <li class="homeTitle">Disposição dos Pêndulos
                </li>
                <div class="homeSensorsContainer">
                    <img [src]="'assets/imgs/'+tamanho+'.png'" height="300px"
                        [matTooltip]='"Tamanho do silo: " + tamanho'>
                </div>
            </div>
            <div class="homeContainer">
                <li class="alarmTitle">Alarmes
                </li>
                <div class="alarmsContainer" (click)='openAlarmList()' matTooltip='Mostrar todos os alarmes'>
                    <div *ngFor='let alarm of alarmingList' class='alarmList'>
                        {{alarm['name']}} <mat-icon style='pointer-events: none; color: red'>
                            error_outline
                        </mat-icon>
                    </div>
                    <p *ngIf='alarmingList.length == 0'>Sem alarmes ativos</p>
                </div>
            </div>
        </div>
    </div>
    <div class="silosTableContainer">
        <div class="siloOptions">
            <mat-form-field class='siloTableFilter'>
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Insira uma data</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker" required>
                    <input matStartDate formControlName="start" (dateChange)='timeChange("gte")'
                        placeholder="Data Inicial" required>
                    <input matEndDate formControlName="end" (dateChange)='timeChange("lte")' placeholder="Data Final"
                        required>
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Data inválida</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Data inválida</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Horário inicial</mat-label>
                <input type="time" matInput (change)='timeChange("gte")' [formControl]='timeValueGte' required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Horário final</mat-label>
                <input type="time" matInput (change)='timeChange("lte")' [formControl]='timeValueLte' required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Silo</mat-label>
                <mat-select [formControl]="siloName" required>
                    <mat-option *ngFor="let siloName of silosHabilitados" [value]="siloName">
                        {{siloName['silo']}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button color="accent"
                [disabled]='!siloName.valid || !range.valid || !timeValueGte.valid || !timeValueLte.valid'
                (click)='getSiloData()' matTooltip='Pesquisar' style="margin-bottom: 0.7em;">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <table mat-table style="width: 100%;" [dataSource]="dataSource" matSort [matSortActive]="sortBy"
            [matSortDirection]="sortType">

            <ng-container *ngFor='let col of columns' [matColumnDef]="col">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{displayedColumns[col]}}</th>
                <td mat-cell [class]='"sensor"+element[classes[col]]' *matCellDef="let element">
                    {{element[col]}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td *ngIf='input.value != ""' class="mat-cell" colspan="4">Sem dados referentes a "{{input.value}}"
                </td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
    </div>
</div>
<style>
    .alarmList {
        display: flex;
        align-items: center;
        text-align: center;
        grid-gap: 10px;
    }

    .alarmsContainer {
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        grid-gap: 10px;
        cursor: pointer;
        overflow-y: auto;
        max-height: 297px;
    }

    .sensorFalse {
        color: red;
        text-decoration: line-through;
    }

    .sensorND {
        color: white;
        cursor: default;
    }

    mat-paginator {
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        margin-bottom: 20px;
    }

    .homeSensorsContainer {
        display: flex;
        margin: auto;
    }

    .siloTableFilter {
        width: 100%;
    }

    .tableContainer {
        display: grid;
        grid-template-rows: 10% 90%;
    }

    .secondInfos {
        display: flex;
    }

    .silosTableContainer {
        width: calc(100% - 40px);
        border-radius: 35px;
        margin: 20px 0;
    }

    .parametrosContainer {
        display: grid;
        grid-template-columns: 40% 40% 20%;
        width: 100%;
        height: 400px;
    }

    .mainSiloContainer {
        overflow-y: auto;
        height: calc(100% - 55px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .siloOptions {
        background: white;
        display: flex;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        padding: 10px 20px 0 20px;
        grid-gap: 10px;
        overflow: hidden;
        align-items: center;
    }

    .generalInfo {
        height: 150px;
        background: white;
        border: solid 1px #c5c7c7;
        border-radius: 35px;
        overflow: hidden;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .headerInfo {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        grid-gap: 20px;
    }

    .headerImg {
        display: flex;
        align-items: center;
    }

    .silosInfoContainer {
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        grid-gap: 20px;
    }

    .homeConfigData {
        display: flex;
        justify-content: center;
    }

    .homeConfigs {
        display: grid;
        grid-template-columns: 70% 30%;
        align-content: center;
        border-bottom: solid 1px #c5c7c7;
        padding: 5px 0 5px 20px;
    }

    .homeConfigs:last-child {
        border-bottom: none;
    }

    /* .homeConfigsContainer {
        display: grid;
        border-left: solid 1px #c5c7c7;
        height: 100%;
    } */

    .imgContainer {
        height: 90%;
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .siloImg {
        height: 100%;
        max-height: 350px;
    }

    .homeTitle,
    .alarmTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        border-bottom: solid 1px #c5c7c7;
        height: 20%;
    }

    .homeTitle {
        background: #26a16f;
    }

    .alarmTitle {
        background: #861D1D;
    }

    .homePage {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 20px;
        margin: 40px 0;
    }

    .homeContainer {
        margin-right: 20px;
        justify-content: flex-start;
        background: white;
        border-radius: 35px;
        overflow: hidden;
        border: solid 1px #c5c7c7;
        display: flex;
        flex-direction: column;
    }

    .homeContainer:last-child {
        margin-right: 0;
    }
</style>